@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Tag

<h2>Add an Patient</h2>

<h4>Add an Patient to this tag: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.Label("Select patient")
    @Html.DropDownList("PatientId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>